{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-async-generators",
    "@babel/plugin-transform-async-to-generator",
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "lib": "./app/lib",
          "domain": "./app/domain"
        }
      }
    ]
  ]
}
